
#contenedor {
    position: relative; /* Asegura que el contenido flote sobre la imagen de fondo */
}

#contenedor::before {
    content: ""; /* Crea un pseudo-elemento para la marca de agua */
    position: fixed; /* Fija la marca de agua en la ventana */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2); /* Color blanco semitransparente */
    pointer-events: none; /* Evita que la marca de agua interfiera con los eventos del usuario */
    z-index: -1; /* Coloca la marca de agua detrás del contenido */
}